<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Fake Currency Detection</title>
  <link rel="stylesheet" href="static/style.css">

</head>
<body>
  <h1>Fake Currency Detection</h1>
  <form method="POST" enctype="multipart/form-data">
    <input type="file" name="image" required />
    <br />
    <button type="submit">Upload and Predict</button>
  </form>

  {% if result %}
    <div class="result">
      Result: {{ result }}
    </div>
    {% if image_path %}
      <img src="{{ image_path }}" alt="Uploaded Image" />
    {% endif %}
  {% endif %}
</body>
</html>